@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import "tailwindcss";

body {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui,
    "Apple SD Gothic Neo", sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.01em;
}
